* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
  text-align: center;
}

li {
  border: 1px solid grey;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  border-radius: 4px;
  background-color: bisque;
}

main {
  width: 800px;
  margin: 0 auto;
}
